<div class="card shadow-sm">
    <img [src]="livro.img" alt="" class="bd-placeholder card-img-top" width="100%">

    <div class="card-body">
        <p class="card-text">{{ livro.name }}</p>
        <p class="card-text">{{ livro.category }}</p>
        <p class="card-text">{{ livro.quantity }}</p>
        <p class="card-text">{{ livro.price | currency: 'BRL'}}</p>

        <div class="btn-group">
            <button class="btn btn-sm btn-primary">Buy</button>
            <button class="btn btn-sm btn-outline-primary">Details</button>
        </div>
    </div>
</div>